//-html 
    head 
        style 
            include ./css/style.css
    body 
        //-uploads/logo.png
        div(id="leftsideSignUp")
            div(id="introheader")
                img(src="logo.png", id="logoimage")
                div(id="title") Arlington Job Search
            
            div(id="slogan") Find jobs in Arlington
            
                //- Add later a(href="https://www.flaticon.com/free-icons/human-resources", title="human resources icons") Human resources icons created by sonnycandra - Flaticon
            div(id="SignUpButton")
                div(id="businessSignUpButton") Business
                div(id="studentSignUpButton") Student

        
            div(id="accountcreate")
                //-h1(id ="accountcreatetitle") Create an Account!
                div(id="buisnessemailtext") Email
                input(id="businessemail", type="text",class="createinput")
                div(id="buisnessinfoandimage")
                    div(id="businessinfotext") Info about your buisness
                    img(src="information.png", id="infoimage", title="Hi")
                    //-<a href="https://www.flaticon.com/free-icons/info" title="info icons">Info icons created by Freepik - Flaticon</a>
                input(id="businessinfo",type="text")
                div(id="verifyemail",onclick="verifyEmail()") Verify Email
        //-img(src="https://3.files.edl.io/331c/23/06/29/194424-6175b24e-d3ba-4212-899e-4ed2ba33b07f.jpeg")
       
        div(id="buissnessaccount")
        //-
            input(type="text", placeholder="Enter your email", name="email", id="emailform")
            input(type="text", placeholder="Enter your name", name="name", id="nameform")
            input(type="text", placeholder="Enter your address", name="businessAddress",  id="Addressform")
            input(type="text", placeholder="Enter your phone number", name="businessPhone", id="phoneform")
            input(type="text", placeholder="Enter your website", name="businessWebsite")
            input(type="text", placeholder="Enter your description", name="businessDescription")
            input(type="text", placeholder="Enter other information", name="otherInformation")
            button(onclick="sendEmailForApproval()") Submit
        script
            include js/test.js
            include js/clientLogin.js

//- <p>Business email: ${req.body.email}</p>
       //- <p>Business name: ${req.body.businessName}</p>
       //- <p>Business address: ${req.body.businessAddress}</p>
       //- <p>Business phone number: ${req.body.businessPhoneNumber}</p>
       //- <p>Business website: ${req.body.businessWebsite}</p>
       //- <p>Business description: ${req.body.businessDescription}</p>
       //- <p>Other information: ${req.body.otherInformation}</p>
    input(type="text", placeholder="Enter your address", name="businessaddressinput")
            